<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,follow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Everkinetic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-red.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- item template via jsrender -->
    </head>

    <body>

      <!-- Always shows a header, even in smaller screens. -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Everkinetic</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <div class="filter--container--group">
                      <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="search">
                        <label class="mdl-textfield__label" for="search" id="search--label">Search...</label>
                      </div>
                    </div>
                    <a class="mdl-navigation__link counter" href=""></a>
                </nav>
            </div>
            <div class="mdl-layout__tab-bar mdl-layout__tab-manual-switch mdl-js-ripple-effect">
              <a href="" data-id="*" class="mdl-layout__tab is-active">All</a>
              <a href="" data-id=".chest, .shoulders, .arms" class="mdl-layout__tab">Chest, Shoulders and Arms</a>
              <a href="" data-id=".belly" class="mdl-layout__tab">Belly</a>
              <a href="" data-id=".back" class="mdl-layout__tab">Back</a>
              <a href="" data-id=".legs" class="mdl-layout__tab">Hips and Legs</a>
            </div>
        </header>

        <main class="mdl-layout__content">

          <div class="page-content">

            <section class="grid--container content-grid ">
                <div class="mdl-grid">
                    <i class="material-icons spinner">cached</i>
                </div>
            </div>

        </main>
      </div>

      <div class="itemview-container">
        </div>

      <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/isotope.pkgd.min.js"></script>
      <script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
      <script src="js/jsrender.min.js"></script>
      <script src="js/lodash.min.js"></script>

      <script src="//code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="js/main.js"></script>


    <script type="text/x-jsrender" id="itemviewTemplate">
        <a class="mdl-card__square mdl-card mdl-shadow--2dp" data-id="{{:id}}" href="#{{:name}}" target="_blank">
            <!-- top -->
            <div class="mdl-card__title mdl-card--expand b-lazy" data-src="{{:image}}">
                <h2 class="mdl-card__title-text item--title">{{:title}}</h2>
            </div>
            <!-- bottom -->
            <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
                <div class="grid">
                     <div class="item--kcal cell">
                        {{if flags.body}}
                        <i class="material-icons">accessibility</i>
                        {{/if}}

                    </div>
                     <div class="item--kcal cell">
                        <div class="item--price--text">{{:primary}}</div>
                    </div>
                </div>
            </div>
        </a>
    </script>

    <script type="text/x-jsrender" id="itemTemplate">
    <div class="itemview">
            <!-- top -->
            <h2 class="mdl-card__title-text item--title">{{:title}}</h2>
            <a href="#" class="action action--close"><i class="material-icons">clear</i></a>
            <!-- bottom -->
            <div class="grid">

                <div class="cell">
                    <i>{{:primer}}</i>
                </div>

                <div class="cell">
                    <h4>General</h4>
                    <ul>
                        <li>Type: {{:type}}</li>
                        <li>Primary: {{:primary}}</li>
                        <li>Secondary: {{:secondary}}</li>
                        <li>Equipment: {{:equipment}}</li>
                    </ul>
                </div>

                {{if svg.length}}
                <div class="cell image">
                    <!-- <h4>Images</h4> -->
                    {{for svg}}
                        <img src="{{:#data}}"></img>
                    {{/for}}
                </div>
                {{/if}}

                <div class="cell steps">
                    <h4>Steps</h4>
                    <ol>
                    {{for steps}}
                        <li>{{:#data}}</li>
                    {{/for}}
                    </ol>
                </div>

                {{if tips}}
                <div class="cell tips">
                    <h4>Tips</h4>
                    <ul>
                    {{for tips}}
                        <li>{{:#data}}</li>
                    {{/for}}
                    </ul>
                </div>
                {{/if}}

                {{if resources}}
                <div class="cell tips">
                    <h4>Resources</h4>
                    <ul>
                    {{for resources}}
                        <li>{{:#data}}</li>
                    {{/for}}
                    </ul>
                </div>
                {{/if}}

                <a href="https://github.com/everkinetic/data/tree/feature/migration/src/exercises/{{:id}}/{{:id}}.json" target="_blank">Help to improve this</a>


            </div>
    </div>
    </script>

    </body>
</html>
